@model DrywallCalc.Models.MaterialDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaterialDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Screws)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screws)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwelveBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwelveBoard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBoard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EightBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EightBoard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LightBlueMud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LightBlueMud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllBlackMud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllBlackMud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
